beautifulsoup4==4.11.1
click==7.1.2
Jinja2==3.0.3
matplotlib==3.5.0
numpy==1.21.4
pandas==1.3.5
pyparsing==3.0.6
redis==4.3.1
requests==2.26.0
rich==12.4.4
rq==1.10.1
scikit_learn==1.1.1
sctokenizer==0.0.7
setuptools==56.0.0
streamlit==1.9.2
tqdm==4.62.3
zss==1.2.0
streamlit==1.3.1
